* {
  padding: 0;
  margin: 0;
}
body {
  background-color: gainsboro;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.toggle-cb {
  background-color: greenyellow;
  appearance: none;
  width: 100px;
  height: 50px;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: inset 3px 3px 6px rgb(0, 0, 0, 0.4);

  position: relative;
  transition: all 0.2s;
}

.toggle-cb::before {
  content: "";
  background: white;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;

  transition: all 0.2s;
  z-index: 2;
}

.toggle-cb::after {
  content: "ON";
  position: absolute;
  font-size: 1rem;
  top: 50%;
  left: 50%;
  transform: translate(10%, -50%);
  z-index: 1;
}

.toggle-cb:checked {
  background: red;
}

.toggle-cb:checked:before {
  left: 50%;
}
.toggle-cb:checked::after {
  content: "OFF";
  left: 0;
  color: aliceblue;
  transform: translate(40%, -50%);
}
